#customizationsCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}
#customizationsSettings {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
}
#buildsContainer {
    /* width: 200px; */
    background-color: white;
    border: 8px solid black;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
}
#currentBuildContainer {
    width: 200px;
    background-color: white;
    border: 8px solid black;
}

.build {
    border: 2px solid black;
    display: flex;
    padding: 4px;
    gap: 4px;
}
.buildWeapon {
    position: relative;
    width: 50px;
    height: 50px;
    border: 4px solid black;
}
.buildWeaponType {
    position: absolute;
    font-size: 16px;
    right: 2px;
    bottom: 0px;
}