#canvas, #webgpuCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
    image-rendering: pixelated;
}

#respawnScreen {
    background-color: #ffffff33;
    /* background: linear-gradient(0deg, #ff000033, #ff000022); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#respawnTitle {
    color: black;
    font-size: 6vw;
}
#respawnButton {
    width: 240px;
    font-size: 32px;
    padding: 8px;
    border: 8px solid black;
    background: linear-gradient(135deg, #59c135, #14a02e);
    box-sizing: border-box;
    border-radius: 4px;
}
#respawnButton:hover {
    transform: translateY(-4px);
}
#respawnButton:active {
    transform: translateY(4px);
}