#canvas, #webgpuCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
    image-rendering: pixelated;
}

#respawnContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#respawnTitle {
    color: white;
    font-size: 80px;
}
#respawnTime {
    color: white;
    font-size: 32px;
}
#respawnButton {
    color: white;
    background-color: #00000066;
    font-size: 20px;
    border: 4px solid gray;
    border-style: outset;
    cursor: pointer;
}
#respawnButton:active {
    border-style: inset;
}
#respawnButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#respawnButton:disabled:active {
    border-style: outset;
}

#chatContainer {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 30vw;
    height: 160px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    display: flex;
    flex-direction: column;
}
#chatMessages {
    flex-grow: 1;
    background-color: #ffffff77;
    overflow-y: scroll;
    border-bottom: 4px solid black;
}
.chatMessage {
    margin-left: 2px;
}
#chatInput {
    appearance: none;
    background-color: white;
    border: none;
    outline: none;
}
#chatInput:focus {
    /* background-color: #eeeeee; */
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}