#menuCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}
#menuTitle {
    position: absolute;
    left: 50vw;
    top: 25vh;
    font-size: 8vw;
    transform: translate(-50%, -50%);
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
}

#signInContainer {
    position: absolute;
    left: 50vw;
    top: 40vh;
    background-color: #e3e6ff;
    border: 4px solid black;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    padding: 8px;
    transform: translateX(-50%);
    /* transition: opacity ease-in-out 500ms, transform ease-in-out 1000ms; */
    transition: 1500ms ease-in transform, opacity ease-in-out 500ms;
}
#signInContainer label {
    display: flex;
    align-items: center;
    justify-self: right;
}
#signInContainer span {
    display: flex;
    grid-column: 2;
    border: 4px solid black;
}
#signInContainer input {
    min-width: 200px;
    width: 100%;
    appearance: none;
    border: none;
    background-color: white;
}
#signInContainer input:focus {
    /* background-color: #eeeeee; */
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}
#signInContainer input:disabled {
    background-color: #b3b9d1;
    cursor: not-allowed;
}
#signInContainer button {
    grid-column: span 2;
    background-color: white;
    border: 4px solid black;
    cursor: pointer;
    transition: 50ms linear transform;
    transform: translateY(0px);
}
#signInContainer button:hover {
    transform: translateY(-2px);
}
#signInContainer button:active {
    transform: translateY(2px);
}
#signInContainer button:focus {
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}
#signInContainer button:disabled {
    background-color: #dae0ea;
    color: black;
    cursor: not-allowed;
}
#signInContainer button:disabled:hover {
    transform: translateY(0px);
}
#signInContainer button:disabled:active {
    transform: translateY(0px);
}
#signInResponse {
    grid-column: span 2;
    text-align: center;
}

#signInLoading {
    grid-column: span 2;
    justify-self: center;
    /* position: absolute;
    left: 50vw;
    top: 65vh; */
    width: 32px;
    height: 32px;
    background-color: #59c135;
    animation: signInLoading 1000ms infinite;
    transition: transform ease-in;
    /* transform: translate(-50%, -50%); */
}
@keyframes signInLoading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#menuButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25vw;
    position: absolute;
    left: 50vw;
    top: 40vh;
    transform: translateX(-50%);
}
.menuButtonContainer {
    transform: translateY(100vh);
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
}
.menuButton {
    width: 100%;
    font-size: 32px;
    padding: 8px;
    cursor: pointer;
    border: 8px solid black;
    box-sizing: border-box;
    transition: 50ms linear transform;
    transform: translateY(0px);
}
.menuButton:hover {
    transform: translateY(-4px);
}
.menuButton:active {
    transform: translateY(4px);
}
#playButton {
    font-size: 64px;
    padding: 8px;
    background-color: #59c135;
}
#customizeButton {
    background-color: #20d6c7;
}
#settingsButton {
    background-color: #b3b9d1;
}
#logOutButton {
    background-color: #df3e23;
}

#playerCustomizationsContainer {
    position: absolute;
    left: 8px;
    width: calc(392px + var(--border-size) * 24);
    height: calc(256px + var(--border-size) * 16);
    bottom: calc(96px + var(--border-size) * 16);
    transform: translateX(calc(-100% - var(--border-size) * 8));
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
    overflow: hidden;
}
#playerCustomizationsCanvas {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 128px;
    height: 256px;
    image-rendering: pixelated;
    border: 8px solid black;
}
#playerName {
    position: absolute;
    left: calc(64px + var(--border-size) * 8);
    bottom: calc(4px + var(--border-size) * 8);
    transform: translateX(-50%);
}
#playerCustomizationsSettings {
    position: absolute;
    width: 248px;
    height: 240px;
    background-color: white;
    border: 8px solid black;
    transform: translateX(calc(-136px));
    transition: 500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    padding: 8px;
}
#playerCustomizationsContainer:hover #playerCustomizationsSettings {
    transform: translateX(calc(128px + var(--border-size) * 8));
}
#playerCustomizationsSettings label {
    display: flex;
    align-items: center;
    justify-self: right;
}
#playerCustomizationsSettings input {
    height: 100%;
    appearance: none;
    box-sizing: border-box;
    border: 4px solid black;
    background-color: white;
}
#playerCustomizationsSettings input:focus {
    /* background-color: #eeeeee; */
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}
#playerCustomizationsSettings input:disabled {
    background-color: #b3b9d1;
    cursor: not-allowed;
}
#playerCustomizationsSettings input[type="color"] {
    cursor: pointer;
	padding: 0px;
}
#playerCustomizationsSettings input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
}
#playerCustomizationsSettings input[type="color"]::-webkit-color-swatch {
	border: none;
}
#playerCustomizationsSettings select {
    grid-column: span 3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid black;
    background-color: white;
}
#playerCustomizationsSettings select:focus {
    /* background-color: #eeeeee; */
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}
#playerCustomizationsSettings select:disabled {
    background-color: #b3b9d1;
    cursor: not-allowed;
}
#playerCustomizationsSettings option {
    appearance: none;
    border: 2px solid black;
    background-color: white;
}

#buildCustomizationsContainer {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 400px;
    height: 80px;
    border: 8px solid black;
    transform: translateY(calc(100% + 8px));
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
}