@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#menuTitle {
    position: absolute;
    left: 50vw;
    top: 25vh;
    font-size: 8vw;
    transform: translate(-50%, -50%);
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
    /* font-family: "Blue"; */
    font-style: italic;
    font-variation-settings: "GRAD" 0, "ROND" 0, "slnt" 0, "wdth" 100, "wght" 400;
    /* font-family: "Noto Sans"; */
}
#menuTitle span {
    font-size: 8vw;
    font-style: italic;
    font-variation-settings: "GRAD" 0, "ROND" 0, "slnt" 0, "wdth" 100, "wght" 400;
    /* font-family: "Miniset"; */
    text-shadow: 0px 0px 1vw #a6fcdb;
}

#menuConnection {
    position: absolute;
    left: 50vw;
    top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transform: translateX(-50%);
    /* transition: opacity ease-in-out 500ms, transform ease-in-out 1000ms; */
    /* transition: 1500ms ease-in transform, opacity ease-in-out 500ms; */
}
#menuConnectionTitle {
    font-size: 32px;
    text-align: center;
}
#menuConnectionLoading {
    align-self: center;
    /* position: absolute;
    left: 50vw;
    top: 65vh; */
    width: 64px;
    height: 64px;
    background-color: #6ca85c;
    animation: loading 1000ms infinite;
    transition: transform ease-in;
    /* transform: translate(-50%, -50%); */
}

#signIn {
    position: absolute;
    left: 50vw;
    top: 40vh;
    /* background-color: #e3e6ff; */
    /* background: linear-gradient(135deg, #dae0ea, #b3b9d1); */
    /* background-color: #dae0ea; */
    backdrop-filter: blur(10px);
    /* background: linear-gradient(135deg, #dae0ea33, #b3b9d133); */
    background-color: #ffffff33;
    border: 4px solid black;
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    padding: 8px;
    /* opacity: 0; */
    /* transform: translateX(-50%) translateY(25vh); */
    transform: translateX(-50%);
    /* transition: opacity ease-in-out 500ms, transform ease-in-out 1000ms; */
    /* transition: 500ms ease-out transform, opacity ease-in-out 500ms; */
}
#signIn label {
    display: flex;
    align-items: center;
    justify-self: right;
}
#signIn span {
    display: flex;
    grid-column: 2;
    border: 4px solid black;
    border-radius: 2px;
}
#signIn input {
    min-width: 200px;
    width: 100%;
    appearance: none;
    border: none;
    background-color: white;
}
#signIn input:focus {
    /* background-color: #eeeeee; */
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
    border-radius: 2px;
}
#signIn input:disabled {
    background-color: #b3b9d1;
    cursor: not-allowed;
}
#signIn button {
    grid-column: span 2;
    background-color: white;
}
#signIn button:focus {
	box-shadow: 0 0 0 2px white;
    outline: 1px solid black;
}
#signIn button:disabled {
    background-color: #dae0ea;
    color: black;
}
#signInResponse {
    grid-column: span 2;
    text-align: center;
}

#signInLoading {
    grid-column: span 2;
    justify-self: center;
    /* position: absolute;
    left: 50vw;
    top: 65vh; */
    width: 32px;
    height: 32px;
    background-color: #59c135;
    animation: loading 1000ms infinite;
    transition: transform ease-in;
    border-radius: 2px;
    /* transform: translate(-50%, -50%); */
}

#menuButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25vw;
    position: absolute;
    left: 50vw;
    top: 40vh;
    transform: translateX(-50%);
}
.menuButtonContainer {
    transform: translateY(100vh);
    transition: 1500ms cubic-bezier(0.2, 0.2, 0, 1) transform;
}
.menuButton {
    width: 100%;
    font-size: 32px;
    padding: 8px;
    cursor: pointer;
    border: 8px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 50ms linear transform;
    transform: translateY(0px);
}
.menuButton:hover {
    transform: translateY(-4px);
}
.menuButton:active {
    transform: translateY(4px);
}
#playButton {
    font-size: 64px;
    padding: 8px;
    /* background: linear-gradient(135deg, #6ca85c, #458f58); */
    background: linear-gradient(135deg, #59c135, #14a02e);
}